.buttonsContainer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
  width: auto;
}

.button {
  padding: 8px 16px; /* Ajusta el padding para hacer los botones más pequeños */
  font-size: 14px; /* Reduces el tamaño de la fuente */
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  transition: background-color 0.3s ease;
  max-width: 150px; /* Limita el tamaño máximo del botón */
  text-align: center; /* Asegura que el texto se alinee al centro */
}

.button:hover {
  background-color: #45a049;
}

.loggedInContainer {
  text-align: center; /* Centra el texto de bienvenida */
}
